In [0]:
%sql
CREATE DATABASE IF NOT EXISTS training;

In [0]:
 %sql

CREATE OR REPLACE TABLE training.EMP_SCD2_SQL (
  EMPNO INT,
  ENAME STRING,
  JOB STRING,
  MGR INT,
  HIREDATE DATE,
  SAL INT,
  COMM INT,
  DEPTNO INT,
  sk_EMPNO INT,
  EFFECTIVE_DATE DATE,
  EXPIRATION_DATE DATE,
  CURRENT_FLAG STRING,
  ETL_CHECKSUM STRING
) USING DELTA LOCATION '/FileStore/tables/delta-table-merge/EMP_SCD2_SQL';

In [0]:
%sql
select  *from  training.EMP_SCD2_SQL

EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,DEPTNO,sk_EMPNO,EFFECTIVE_DATE,EXPIRATION_DATE,CURRENT_FLAG,ETL_CHECKSUM
7844,TURNER,SALESMAN,7698,null,1500,0,30,1,2024-05-11,9999-12-31,Y,819d2397bf3e5ed520e8e81987b0fa45
7788,SCOTT,ANALYST,7566,null,3000,null,20,2,2024-05-11,9999-12-31,Y,9e5f1b38c2bd6f558616757e692e5be0
7900,JAMES,CLERK,7698,null,950,null,30,3,2024-05-11,9999-12-31,Y,3f1ca5716a5323779bb301cdd4fa7c38
7521,WARD,SALESMAN,7698,null,1250,500,30,4,2024-05-11,9999-12-31,Y,81a1e4f74aa36352058b5c0b32ff24cf
7654,MARTIN,SALESMAN,7698,null,1250,1400,30,5,2024-05-11,9999-12-31,Y,00c65fd9f58fefeb811120493a14723a
7566,JONES,MANAGER,7839,null,2975,null,20,6,2024-05-11,9999-12-31,Y,e11463e62544e5a8fc9404aadc8bf41f
7934,MILLER,CLERK,7782,null,1300,null,10,7,2024-05-11,9999-12-31,Y,bcc3c826a2626ddf2888e5d847996ab8
7782,CLARK,MANAGER,7839,null,2450,null,10,8,2024-05-11,9999-12-31,Y,02dc737e7a840aa6275d73be9b44e175
7902,FORD,ANALYST,7566,null,3000,null,20,9,2024-05-11,9999-12-31,Y,29d49b83db924ac3b3f33a9ab8c08507
7839,KING,PRESIDENT,null,null,5000,null,10,10,2024-05-11,9999-12-31,Y,66e4c071001074241b5735481c5f4269
7369,SMITH,CLERK,7902,null,800,null,20,11,2024-05-11,9999-12-31,Y,2b440b18b7cf6e0e862c430f192af024
7876,ADAMS,CLERK,7788,null,1100,null,20,12,2024-05-11,9999-12-31,Y,14b671b9febe93ba66858d088d51ac03
7698,BLAKE,MANAGER,7839,null,2850,null,30,13,2024-05-11,9999-12-31,Y,ca6fcb9cd7989821af36b5b4ec05e277
7499,ALLEN,SALESMAN,7698,null,1600,300,30,14,2024-05-11,9999-12-31,Y,9c74d50ffdf4afe22f4c09d77aef7f15

In [0]:
SOURCE_PATH = "dbfs:/FileStore/tables/EMP.csv"
#SOURCE_PATH = "dbfs:/FileStore/tables/EMP_SCD2SQL-1.csv"
df_source = spark.read.options(header=True, delimiter=',', inferSchema='True').csv(SOURCE_PATH)
#spark.read.options(header=True, delimiter=',',inferSchema='True')\
df_source.printSchema()
display(df_source)

root
 |-- EMPNO: integer (nullable = true)
 |-- ENAME: string (nullable = true)
 |-- JOB: string (nullable = true)
 |-- MGR: integer (nullable = true)
 |-- HIREDATE: string (nullable = true)
 |-- SAL: integer (nullable = true)
 |-- COMM: integer (nullable = true)
 |-- DEPTNO: integer (nullable = true)

EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,DEPTNO
7839,KING,PRESIDENT,null,17-NOV-81,5000,null,10
7698,BLAKE,MANAGER,7839,01-MAY-81,2850,null,30
7782,CLARK,MANAGER,7839,09-JUN-81,2450,null,10
7566,JONES,MANAGER,7839,02-APR-81,2975,null,20
7788,SCOTT,ANALYST,7566,19-APR-87,3000,null,20
7902,FORD,ANALYST,7566,03-DEC-81,3000,null,20
7369,SMITH,CLERK,7902,17-DEC-80,800,null,20
7499,ALLEN,SALESMAN,7698,20-FEB-81,1600,300,30
7521,WARD,SALESMAN,7698,22-FEB-81,1250,500,30
7654,MARTIN,SALESMAN,7698,28-SEP-81,1250,1400,30
7844,TURNER,SALESMAN,7698,08-SEP-81,1500,0,30
7876,ADAMS,CLERK,7788,23-MAY-87,1100,null,20
7900,JAMES,CLERK,7698,03-DEC-81,950,null,30
7934,MILLER,CLERK,7782,23-JAN-82,1300,null,10

In [0]:
df_source.createOrReplaceTempView('EMP_SRC_SCD1_SQL')

In [0]:
%sql
select * from EMP_SRC_SCD1_SQL

EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,DEPTNO
7839,KING,PRESIDENT,null,17-NOV-81,5000,null,10
7698,BLAKE,MANAGER,7839,01-MAY-81,2850,null,30
7782,CLARK,MANAGER,7839,09-JUN-81,2450,null,10
7566,JONES,MANAGER,7839,02-APR-81,2975,null,20
7788,SCOTT,ANALYST,7566,19-APR-87,3000,null,20
7902,FORD,ANALYST,7566,03-DEC-81,3000,null,20
7369,SMITH,CLERK,7902,17-DEC-80,800,null,20
7499,ALLEN,SALESMAN,7698,20-FEB-81,1600,300,30
7521,WARD,SALESMAN,7698,22-FEB-81,1250,500,30
7654,MARTIN,SALESMAN,7698,28-SEP-81,1250,1400,30
7844,TURNER,SALESMAN,7698,08-SEP-81,1500,0,30
7876,ADAMS,CLERK,7788,23-MAY-87,1100,null,20
7900,JAMES,CLERK,7698,03-DEC-81,950,null,30
7934,MILLER,CLERK,7782,23-JAN-82,1300,null,10

In [0]:
%sql
CREATE OR REPLACE TEMPORARY VIEW stg_EMP_vw
AS
SELECT DISTINCT
EMPNO,
ENAME,
 JOB,
 MGR,
 HIREDATE,
 SAL,
 COMM,
 DEPTNO
-- , row_number() OVER (ORDER BY EMPNO) AS SK_EMPNO
  ,md5(
    CONCAT_WS('|',
               JOB,
                MGR,
              HIREDATE,
             DEPTNO,
             SAL,
             COMM 
  
    )
   )AS ETL_CHECKSUM
  
FROM
  EMP_SRC_SCD1_SQL

In [0]:
%sql
select * from stg_EMP_vw

EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,DEPTNO,ETL_CHECKSUM
7844,TURNER,SALESMAN,7698,08-SEP-81,1500,0,30,819d2397bf3e5ed520e8e81987b0fa45
7788,SCOTT,ANALYST,7566,19-APR-87,3000,null,20,9e5f1b38c2bd6f558616757e692e5be0
7900,JAMES,CLERK,7698,03-DEC-81,950,null,30,3f1ca5716a5323779bb301cdd4fa7c38
7521,WARD,SALESMAN,7698,22-FEB-81,1250,500,30,81a1e4f74aa36352058b5c0b32ff24cf
7654,MARTIN,SALESMAN,7698,28-SEP-81,1250,1400,30,00c65fd9f58fefeb811120493a14723a
7566,JONES,MANAGER,7839,02-APR-81,2975,null,20,e11463e62544e5a8fc9404aadc8bf41f
7934,MILLER,CLERK,7782,23-JAN-82,1300,null,10,bcc3c826a2626ddf2888e5d847996ab8
7782,CLARK,MANAGER,7839,09-JUN-81,2450,null,10,02dc737e7a840aa6275d73be9b44e175
7902,FORD,ANALYST,7566,03-DEC-81,3000,null,20,29d49b83db924ac3b3f33a9ab8c08507
7839,KING,PRESIDENT,null,17-NOV-81,5000,null,10,66e4c071001074241b5735481c5f4269
7369,SMITH,CLERK,7902,17-DEC-80,800,null,20,2b440b18b7cf6e0e862c430f192af024
7876,ADAMS,CLERK,7788,23-MAY-87,1100,null,20,14b671b9febe93ba66858d088d51ac03
7698,BLAKE,MANAGER,7839,01-MAY-81,2850,null,30,ca6fcb9cd7989821af36b5b4ec05e277
7499,ALLEN,SALESMAN,7698,20-FEB-81,1600,300,30,9c74d50ffdf4afe22f4c09d77aef7f15

In [0]:
%sql

MERGE INTO training.EMP_SCD2_SQL TARGET
USING 
(SELECT SRC.EMPNO as JOIN_KEY, SRC.* from stg_emp_vw SRC
UNION ALL
SELECT NULL as JOIN_KEY, SRC.* from stg_emp_vw SRC
INNER JOIN  training.EMP_SCD2_SQL tgt ON tgt.EMPNO = SRC.EMPNO
WHERE tgt.ETL_CHECKSUM != src.ETL_CHECKSUM AND tgt.CURRENT_FLAG = 'Y'
) SOURCE
ON TARGET.EMPNO = SOURCE.JOIN_KEY
WHEN MATCHED AND TARGET.ETL_CHECKSUM != SOURCE.ETL_CHECKSUM 
THEN
  UPDATE SET
  TARGET.CURRENT_FLAG = 'N',
  TARGET.EXPIRATION_DATE = CURRENT_DATE()
WHEN NOT MATCHED THEN
  INSERT
  (
EMPNO,
ENAME,
JOB,
MGR,
HIREDATE,
SAL,
COMM,
DEPTNO,
SK_EMPNO,
EFFECTIVE_DATE,
EXPIRATION_DATE,
CURRENT_FLAG,
ETL_CHECKSUM
  )
  VALUES
  (
SOURCE.EMPNO,
SOURCE.ENAME,
SOURCE.JOB,
SOURCE.MGR,
SOURCE.HIREDATE,
SOURCE.SAL,
SOURCE.COMM,
SOURCE.DEPTNO,
" ",
--row_number() OVER (ORDER BY EMPNO ASC NULLS FIRST ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW),
--A query operator contains one or more unsupported expressions. Consider to rewrite it to avoid window functions, 
--Do not use the Window functions in the merge statement, instead use it in USING SOURCE SQL
CURRENT_DATE(),
"9999-12-31",
 "Y",
 SOURCE.ETL_CHECKSUM 
  )

num_affected_rows,num_updated_rows,num_deleted_rows,num_inserted_rows
14,0,0,14

In [0]:
%sql
select * from training.EMP_SCD2_SQL

EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,DEPTNO,sk_EMPNO,EFFECTIVE_DATE,EXPIRATION_DATE,CURRENT_FLAG,ETL_CHECKSUM
7844,TURNER,SALESMAN,7698,null,1500,0,30,null,2024-05-12,9999-12-31,Y,819d2397bf3e5ed520e8e81987b0fa45
7788,SCOTT,ANALYST,7566,null,3000,null,20,null,2024-05-12,9999-12-31,Y,9e5f1b38c2bd6f558616757e692e5be0
7900,JAMES,CLERK,7698,null,950,null,30,null,2024-05-12,9999-12-31,Y,3f1ca5716a5323779bb301cdd4fa7c38
7521,WARD,SALESMAN,7698,null,1250,500,30,null,2024-05-12,9999-12-31,Y,81a1e4f74aa36352058b5c0b32ff24cf
7654,MARTIN,SALESMAN,7698,null,1250,1400,30,null,2024-05-12,9999-12-31,Y,00c65fd9f58fefeb811120493a14723a
7566,JONES,MANAGER,7839,null,2975,null,20,null,2024-05-12,9999-12-31,Y,e11463e62544e5a8fc9404aadc8bf41f
7934,MILLER,CLERK,7782,null,1300,null,10,null,2024-05-12,9999-12-31,Y,bcc3c826a2626ddf2888e5d847996ab8
7782,CLARK,MANAGER,7839,null,2450,null,10,null,2024-05-12,9999-12-31,Y,02dc737e7a840aa6275d73be9b44e175
7902,FORD,ANALYST,7566,null,3000,null,20,null,2024-05-12,9999-12-31,Y,29d49b83db924ac3b3f33a9ab8c08507
7839,KING,PRESIDENT,null,null,5000,null,10,null,2024-05-12,9999-12-31,Y,66e4c071001074241b5735481c5f4269
7369,SMITH,CLERK,7902,null,800,null,20,null,2024-05-12,9999-12-31,Y,2b440b18b7cf6e0e862c430f192af024
7876,ADAMS,CLERK,7788,null,1100,null,20,null,2024-05-12,9999-12-31,Y,14b671b9febe93ba66858d088d51ac03
7698,BLAKE,MANAGER,7839,null,2850,null,30,null,2024-05-12,9999-12-31,Y,ca6fcb9cd7989821af36b5b4ec05e277
7499,ALLEN,SALESMAN,7698,null,1600,300,30,null,2024-05-12,9999-12-31,Y,9c74d50ffdf4afe22f4c09d77aef7f15

In [0]:
%sql
WITH CTE AS(
SELECT ((ROW_NUMBER() OVER (PARTITION BY CAST(EMP_SCD2_SQL.SK_EMPNO AS INT) ORDER BY EMP_SCD2_SQL.SK_EMPNO)) + MAX_SK)  AS  SK_EMPNO1
       ,EMPNO
FROM training.EMP_SCD2_SQL
CROSS JOIN (
  SELECT IFNULL(max(SK_EMPNO),0) AS MAX_SK FROM training.EMP_SCD2_SQL 
) MaxSK_View
WHERE EMP_SCD2_SQL.SK_EMPNO IS NULL
ORDER BY 1
)
select *from CTE

/*MERGE INTO training.EMP_SCD2_SQL
USING CTE
ON CTE.EMPNO = EMP_SCD2_SQL.EMPNO
WHEN MATCHED AND EMP_SCD2_SQL.SK_EMPNO IS NULL
  THEN UPDATE SET 
    EMP_SCD2_SQL.SK_EMPNO = CTE.SK_EMPNO1*/

SK_EMPNO1,EMPNO
1,7844
2,7788
3,7900
4,7521
5,7654
6,7566
7,7934
8,7782
9,7902
10,7839
11,7369
12,7876
13,7698
14,7499

In [0]:
%sql
select * from training.EMP_SCD2_SQL

EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,DEPTNO,sk_EMPNO,EFFECTIVE_DATE,EXPIRATION_DATE,CURRENT_FLAG,ETL_CHECKSUM
7844,TURNER,SALESMAN,7698,null,1500,0,30,1,2024-05-11,9999-12-31,Y,819d2397bf3e5ed520e8e81987b0fa45
7788,SCOTT,ANALYST,7566,null,3000,null,20,2,2024-05-11,9999-12-31,Y,9e5f1b38c2bd6f558616757e692e5be0
7900,JAMES,CLERK,7698,null,950,null,30,3,2024-05-11,9999-12-31,Y,3f1ca5716a5323779bb301cdd4fa7c38
7521,WARD,SALESMAN,7698,null,1250,500,30,4,2024-05-11,9999-12-31,Y,81a1e4f74aa36352058b5c0b32ff24cf
7654,MARTIN,SALESMAN,7698,null,1250,1400,30,5,2024-05-11,9999-12-31,Y,00c65fd9f58fefeb811120493a14723a
7566,JONES,MANAGER,7839,null,2975,null,20,6,2024-05-11,9999-12-31,Y,e11463e62544e5a8fc9404aadc8bf41f
7934,MILLER,CLERK,7782,null,1300,null,10,7,2024-05-11,9999-12-31,Y,bcc3c826a2626ddf2888e5d847996ab8
7782,CLARK,MANAGER,7839,null,2450,null,10,8,2024-05-11,9999-12-31,Y,02dc737e7a840aa6275d73be9b44e175
7902,FORD,ANALYST,7566,null,3000,null,20,9,2024-05-11,9999-12-31,Y,29d49b83db924ac3b3f33a9ab8c08507
7839,KING,PRESIDENT,null,null,5000,null,10,10,2024-05-11,9999-12-31,Y,66e4c071001074241b5735481c5f4269
7369,SMITH,CLERK,7902,null,800,null,20,11,2024-05-11,9999-12-31,Y,2b440b18b7cf6e0e862c430f192af024
7876,ADAMS,CLERK,7788,null,1100,null,20,12,2024-05-11,9999-12-31,Y,14b671b9febe93ba66858d088d51ac03
7698,BLAKE,MANAGER,7839,null,2850,null,30,13,2024-05-11,9999-12-31,Y,ca6fcb9cd7989821af36b5b4ec05e277
7499,ALLEN,SALESMAN,7698,null,1600,300,30,14,2024-05-11,9999-12-31,Y,9c74d50ffdf4afe22f4c09d77aef7f15

In [0]:
%sql
Truncate table training.EMP_SCD2_SQL