In [0]:
%sql
CREATE DATABASE IF NOT EXISTS training;

In [0]:
%sql
CREATE OR REPLACE TABLE training.EMP_SCD2
(
  EMPNO INT, 
	ENAME STRING, 
	JOB STRING, 
	MGR INT, 
	HIREDATE DATE, 
	SAL INT, 
	COMM INT, 
	DEPTNO INT,
	sk_EMPNO INT,
	EFFECTIVE_DATE DATE,
	EXPIRATION_DATE DATE,
	CURRENT_FLAG STRING,
	ETL_CHECKSUM STRING
)
USING DELTA
LOCATION '/FileStore/tables/delta-table-merge/EMP_SCD2';

In [0]:
%sql
select * from training.EMP_SCD2

In [0]:
#SOURCE_PATH = "dbfs:/FileStore/tables/EMP.csv"
SOURCE_PATH = "dbfs:/FileStore/tables/EMP_SCD2SQL-1.csv"
df_source = spark.read.options(header=True, delimiter=',', inferSchema='True').csv(SOURCE_PATH)
#spark.read.options(header=True, delimiter=',',inferSchema='True')\
df_source.printSchema()
display(df_source)

root
 |-- EMPNO: integer (nullable = true)
 |-- ENAME: string (nullable = true)
 |-- JOB: string (nullable = true)
 |-- MGR: integer (nullable = true)
 |-- HIREDATE: string (nullable = true)
 |-- SAL: integer (nullable = true)
 |-- COMM: integer (nullable = true)
 |-- DEPTNO: integer (nullable = true)

EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,DEPTNO
7839,KING,PRESIDENT,null,17-Nov-81,5000,1,10
7698,BLAKE,MANAGER,7839,1-May-81,2850,5,30
7782,CLARK,MANAGER,7839,9-Jun-81,2450,4,10
7566,JONES,MANAGER,7839,2-Apr-81,2975,6,20
7788,SCOTT,ANALYST,7566,19-Apr-87,3000,7,20
7902,FORD,ANALYST,7566,3-Dec-81,3000,8,20
7369,SMITH,CLERK,7902,17-Dec-80,800,9,20
7499,ALLEN,SALESMAN,7698,20-Feb-81,1600,300,30
7521,WARD,SALESMAN,7698,22-Feb-81,1250,500,30
7654,MARTIN,SALESMAN,7698,28-Sep-81,1250,1400,30
7844,TURNER,SALESMAN,7698,8-Sep-81,1500,0,30
7876,ADAMS,CLERK,7788,23-May-87,1100,9,20
7900,JAMES,CLERK,7698,3-Dec-81,950,6,30
7934,MILLER,ANALYST,7782,23-Jan-82,1300,9,10
7940,SREENI,CLERK,7782,1-Aug-83,1300,200,20
7945,SREENI_T,CLERK,7698,1-Aug-84,2000,200,20

In [0]:
df_source.createOrReplaceTempView('EMP_SOURCE')

In [0]:
%sql
select * from EMP_SOURCE

EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,DEPTNO
7839,KING,PRESIDENT,null,17-Nov-81,5000,1,10
7698,BLAKE,MANAGER,7839,1-May-81,2850,5,30
7782,CLARK,MANAGER,7839,9-Jun-81,2450,4,10
7566,JONES,MANAGER,7839,2-Apr-81,2975,6,20
7788,SCOTT,ANALYST,7566,19-Apr-87,3000,7,20
7902,FORD,ANALYST,7566,3-Dec-81,3000,8,20
7369,SMITH,CLERK,7902,17-Dec-80,800,9,20
7499,ALLEN,SALESMAN,7698,20-Feb-81,1600,300,30
7521,WARD,SALESMAN,7698,22-Feb-81,1250,500,30
7654,MARTIN,SALESMAN,7698,28-Sep-81,1250,1400,30
7844,TURNER,SALESMAN,7698,8-Sep-81,1500,0,30
7876,ADAMS,CLERK,7788,23-May-87,1100,9,20
7900,JAMES,CLERK,7698,3-Dec-81,950,6,30
7934,MILLER,ANALYST,7782,23-Jan-82,1300,9,10
7940,SREENI,CLERK,7782,1-Aug-83,1300,200,20
7945,SREENI_T,CLERK,7698,1-Aug-84,2000,200,20

In [0]:
%sql
CREATE OR REPLACE TEMPORARY VIEW stg_EMP_vw
AS
SELECT DISTINCT
EMPNO,
ENAME,
 JOB,
 MGR,
 HIREDATE,
 SAL,
 COMM,
 DEPTNO
-- , row_number() OVER (ORDER BY EMPNO) AS SK_EMPNO
  ,md5(
    CONCAT_WS('|',
               JOB,
                MGR,
              HIREDATE,
             DEPTNO,
             SAL,
             COMM 
  
    )
   )AS ETL_CHECKSUM
  
FROM
  EMP_SOURCE

In [0]:
%sql
select * from stg_EMP_vw

EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,DEPTNO,ETL_CHECKSUM
7902,FORD,ANALYST,7566,3-Dec-81,3000,8,20,13de86bab8df5bc781803112b898d595
7782,CLARK,MANAGER,7839,9-Jun-81,2450,4,10,f910c9735baa9e9bce84c695b023882f
7698,BLAKE,MANAGER,7839,1-May-81,2850,5,30,ee5493135780100e8c2365c1ef46c859
7654,MARTIN,SALESMAN,7698,28-Sep-81,1250,1400,30,85ff118e74b3f1f657bb207a2954679e
7521,WARD,SALESMAN,7698,22-Feb-81,1250,500,30,532164d9a9a24675575fa207fdbfd590
7876,ADAMS,CLERK,7788,23-May-87,1100,9,20,c59e22513124c442c90c0f3d21d18ef4
7369,SMITH,CLERK,7902,17-Dec-80,800,9,20,686dab84b1783ca9d3af3a684a3719a7
7900,JAMES,CLERK,7698,3-Dec-81,950,6,30,9c7db86ec7eadd29076cf2afb493cd2e
7566,JONES,MANAGER,7839,2-Apr-81,2975,6,20,b3d1b9898a4938fcc6598356dc56a6e9
7934,MILLER,ANALYST,7782,23-Jan-82,1300,9,10,3e5efa499cfbccefb656b33bb5a52f91
7844,TURNER,SALESMAN,7698,8-Sep-81,1500,0,30,19ac3a1f18802e629cdadb1891a977f7
7788,SCOTT,ANALYST,7566,19-Apr-87,3000,7,20,c2fa73579d11513b56c0e075b26e457d
7945,SREENI_T,CLERK,7698,1-Aug-84,2000,200,20,b68a758bb18ac0793f4ca62b38beea2e
7499,ALLEN,SALESMAN,7698,20-Feb-81,1600,300,30,2b4e709eb0148fc06d725bc892190e92
7839,KING,PRESIDENT,null,17-Nov-81,5000,1,10,316a0007f0a3fb738fb23de0c5dc970b
7940,SREENI,CLERK,7782,1-Aug-83,1300,200,20,877e961b1605941346c37a4785ba83c3

In [0]:
%sql

MERGE INTO training.EMP_SCD2 TARGET
USING 
(SELECT SRC.EMPNO as JOIN_KEY, SRC.* from stg_emp_vw SRC
UNION ALL
SELECT NULL as JOIN_KEY, SRC.* from stg_emp_vw SRC
INNER JOIN  training.EMP_SCD2 tgt ON tgt.EMPNO = SRC.EMPNO
WHERE tgt.ETL_CHECKSUM != src.ETL_CHECKSUM AND tgt.CURRENT_FLAG = 'Y'
) SOURCE
ON TARGET.EMPNO = SOURCE.JOIN_KEY
WHEN MATCHED AND TARGET.ETL_CHECKSUM != SOURCE.ETL_CHECKSUM 
THEN
  UPDATE SET
  TARGET.CURRENT_FLAG = 'N',
  TARGET.EXPIRATION_DATE = CURRENT_DATE()
WHEN NOT MATCHED THEN
  INSERT
  (
EMPNO,
ENAME,
JOB,
MGR,
HIREDATE,
SAL,
COMM,
DEPTNO,
SK_EMPNO,
EFFECTIVE_DATE,
EXPIRATION_DATE,
CURRENT_FLAG,
ETL_CHECKSUM
  )
  VALUES
  (
SOURCE.EMPNO,
SOURCE.ENAME,
SOURCE.JOB,
SOURCE.MGR,
SOURCE.HIREDATE,
SOURCE.SAL,
SOURCE.COMM,
SOURCE.DEPTNO,
" ",
--row_number() OVER (ORDER BY EMPNO ASC NULLS FIRST ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW),
--A query operator contains one or more unsupported expressions. Consider to rewrite it to avoid window functions, 
--Do not use the Window functions in the merge statement, instead use it in USING SOURCE SQL
CURRENT_DATE(),
"9999-12-31",
 "Y",
 SOURCE.ETL_CHECKSUM 
  )

num_affected_rows,num_updated_rows,num_deleted_rows,num_inserted_rows
30,14,0,16

In [0]:
%sql
select * from training.EMP_SCD2

EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,DEPTNO,sk_EMPNO,EFFECTIVE_DATE,EXPIRATION_DATE,CURRENT_FLAG,ETL_CHECKSUM
7902,FORD,ANALYST,7566,null,3000,8,20,17,2024-05-10,9999-12-31,Y,13de86bab8df5bc781803112b898d595
7782,CLARK,MANAGER,7839,null,2450,4,10,18,2024-05-10,9999-12-31,Y,f910c9735baa9e9bce84c695b023882f
7698,BLAKE,MANAGER,7839,null,2850,5,30,19,2024-05-10,9999-12-31,Y,ee5493135780100e8c2365c1ef46c859
7654,MARTIN,SALESMAN,7698,null,1250,1400,30,20,2024-05-10,9999-12-31,Y,85ff118e74b3f1f657bb207a2954679e
7521,WARD,SALESMAN,7698,null,1250,500,30,21,2024-05-10,9999-12-31,Y,532164d9a9a24675575fa207fdbfd590
7876,ADAMS,CLERK,7788,null,1100,9,20,22,2024-05-10,9999-12-31,Y,c59e22513124c442c90c0f3d21d18ef4
7369,SMITH,CLERK,7902,null,800,9,20,23,2024-05-10,9999-12-31,Y,686dab84b1783ca9d3af3a684a3719a7
7900,JAMES,CLERK,7698,null,950,6,30,24,2024-05-10,9999-12-31,Y,9c7db86ec7eadd29076cf2afb493cd2e
7566,JONES,MANAGER,7839,null,2975,6,20,25,2024-05-10,9999-12-31,Y,b3d1b9898a4938fcc6598356dc56a6e9
7934,MILLER,ANALYST,7782,null,1300,9,10,26,2024-05-10,9999-12-31,Y,3e5efa499cfbccefb656b33bb5a52f91
7844,TURNER,SALESMAN,7698,null,1500,0,30,27,2024-05-10,9999-12-31,Y,19ac3a1f18802e629cdadb1891a977f7
7788,SCOTT,ANALYST,7566,null,3000,7,20,28,2024-05-10,9999-12-31,Y,c2fa73579d11513b56c0e075b26e457d
7499,ALLEN,SALESMAN,7698,null,1600,300,30,29,2024-05-10,9999-12-31,Y,2b4e709eb0148fc06d725bc892190e92
7839,KING,PRESIDENT,null,null,5000,1,10,30,2024-05-10,9999-12-31,Y,316a0007f0a3fb738fb23de0c5dc970b
7902,FORD,ANALYST,7566,null,3000,null,20,9,2024-05-10,2024-05-10,N,29d49b83db924ac3b3f33a9ab8c08507
7782,CLARK,MANAGER,7839,null,2450,null,10,8,2024-05-10,2024-05-10,N,02dc737e7a840aa6275d73be9b44e175
7698,BLAKE,MANAGER,7839,null,2850,null,30,13,2024-05-10,2024-05-10,N,ca6fcb9cd7989821af36b5b4ec05e277
7654,MARTIN,SALESMAN,7698,null,1250,1400,30,5,2024-05-10,2024-05-10,N,00c65fd9f58fefeb811120493a14723a
7521,WARD,SALESMAN,7698,null,1250,500,30,4,2024-05-10,2024-05-10,N,81a1e4f74aa36352058b5c0b32ff24cf
7876,ADAMS,CLERK,7788,null,1100,null,20,12,2024-05-10,2024-05-10,N,14b671b9febe93ba66858d088d51ac03
7369,SMITH,CLERK,7902,null,800,null,20,11,2024-05-10,2024-05-10,N,2b440b18b7cf6e0e862c430f192af024
7900,JAMES,CLERK,7698,null,950,null,30,3,2024-05-10,2024-05-10,N,3f1ca5716a5323779bb301cdd4fa7c38
7566,JONES,MANAGER,7839,null,2975,null,20,6,2024-05-10,2024-05-10,N,e11463e62544e5a8fc9404aadc8bf41f
7934,MILLER,CLERK,7782,null,1300,null,10,7,2024-05-10,2024-05-10,N,bcc3c826a2626ddf2888e5d847996ab8
7844,TURNER,SALESMAN,7698,null,1500,0,30,1,2024-05-10,2024-05-10,N,819d2397bf3e5ed520e8e81987b0fa45
7788,SCOTT,ANALYST,7566,null,3000,null,20,2,2024-05-10,2024-05-10,N,9e5f1b38c2bd6f558616757e692e5be0
7499,ALLEN,SALESMAN,7698,null,1600,300,30,14,2024-05-10,2024-05-10,N,9c74d50ffdf4afe22f4c09d77aef7f15
7839,KING,PRESIDENT,null,null,5000,null,10,10,2024-05-10,2024-05-10,N,66e4c071001074241b5735481c5f4269
7945,SREENI_T,CLERK,7698,null,2000,200,20,15,2024-05-10,9999-12-31,Y,b68a758bb18ac0793f4ca62b38beea2e
7940,SREENI,CLERK,7782,null,1300,200,20,16,2024-05-10,9999-12-31,Y,877e961b1605941346c37a4785ba83c3

In [0]:
%sql
WITH CTE AS(
SELECT ((ROW_NUMBER() OVER (PARTITION BY CAST(EMP_SCD2.SK_EMPNO AS INT) ORDER BY EMP_SCD2.SK_EMPNO)) + MAX_SK)  AS  SK_EMPNO1
       ,EMPNO
FROM training.EMP_SCD2
CROSS JOIN (
  SELECT IFNULL(max(SK_EMPNO),0) AS MAX_SK FROM training.EMP_SCD2 
) MaxSK_View
WHERE EMP_SCD2.SK_EMPNO IS NULL
ORDER BY 1
)
--select *from CTE

MERGE INTO training.EMP_SCD2
USING CTE
ON CTE.EMPNO = EMP_SCD2.EMPNO
WHEN MATCHED AND EMP_SCD2.SK_EMPNO IS NULL
  THEN UPDATE SET 
    EMP_SCD2.SK_EMPNO = CTE.SK_EMPNO1

num_affected_rows,num_updated_rows,num_deleted_rows,num_inserted_rows
16,16,0,0

In [0]:
%sql
truncate table training.EMP_SCD2